<h2 id='title'>Testing the ChartJS Component</h2>

<div>
	<h3>Line Chart</h3>
	{{ember-chart type='Line' data=lineData width=600 height=200}}
</div>

<div>
	<h3>Line Chart Update</h3>
	<ul>
		<li>{{input value=lineValue1 type="number"}}</li>
		<li>{{input value=lineValue2 type="number"}}</li>
	</ul>
</div>

<div>
	<h3>Pie Chart</h3>
	{{ember-chart type='Pie' data=pieData width=200 height=200 legend=true}}
</div>

<div>
	<h3>Pie Chart Update</h3>
	<ul>
		<li>{{input value=pieValue1 type="number"}}</li>
		<li>{{input value=pieValue2 type="number"}}</li>
		<li>{{input value=pieValue3 type="number"}}</li>
	</ul>
</div>

<div>
	<h3>Doughnut Chart with Legend</h3>
	{{ember-chart type='Doughnut' data=pieData width=200 height=200 legend=true }}
</div>

<div>
	<h3>Bar Chart</h3>
	{{ember-chart type='Bar' data=barData width=600 height=200}}
</div>

<div>
	<h3>Radar Chart</h3>
	{{ember-chart type='radar' data=radarData width=400 height=400}}
</div>

<div>
	<h3>Polar Area Chart</h3>
	{{ember-chart type='polar area' data=polarAreaData width=400 height=400}}
</div>

{{outlet}}
